body{
    font-family: sans-serif;
    font-size: 20;
    background-image: url(food.webp);
}

#hint{
font-family: sans-serif;
font-size: 12px;
color: blue;
margin-bottom: 15px;
display: block;
}

h1{
    text-align: center; /*Membuat tulisan ke tengah */
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: #FFDD57;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  /*Mengatur bayangan tulisan agar jelas */
    background-image: url(ramadan.jpg);
    padding: 80px;  /*Mengatur jarak antar elemen (gambar) */
    background-size: cover;  /*Mengatur background agar pas diatas dan full */
    background-position: center; /*Membuat isi gambar bg ke tengah */
    background-repeat: no-repeat; /*Membuat gambar tidak berulang (ekspos gambar lain dalam bg) */
}

.konten1{
    width: 300px;
    padding: 20px;
    border: 2px black;
    border-radius: 10px; /* Membuat sudut border menjadi melengkung atau membulat*/
    background-color:beige;
    margin:50px auto; /* Auto center (Mengatur jarak border ke tengah) */
    text-align: left; /* Membuat tulisan panduan input ke kiri */
}
.konten1 button{
    display:block; /* Mengatur elemen agar berpindah baris*/
    width: 100px;
    padding: 8px;
    margin: 15px auto 0;
    font-size: 14px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer; /* Mengubah bentuk kursor menjadi ikon tangan (pointer) ketika kursor mengarah ke buton*/
    border-radius: 5px;
}

#konten2{
    font-size: 14px;
    width: 300px;
    padding: 20px;
    border: 2px black;
    border-radius: 10px;
    background-color:beige;
    margin:50px auto; /* auto center*/
    text-align: left; /*membuat tulisan panduan input ke kiri */
}

#konten2 button{
    display:block;
    width: 100px;
    padding: 8px;
    margin: 15px auto 0;
    font-size: 14px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}